body {
    font-family: 'Oktah Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    max-width: 2500px;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    padding: 1em;
}

.team-member img{
height: 330px;
width: 368px;
}

.logo {
    max-height: 50px;
    margin-left: 20px;
    border-radius: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

.team-members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
    align-items: stretch; /* Make all items stretch to the full height */
    margin-top: 20px;
}

.team-member {
    background-color: rgb(52, 50, 48);
    max-width: 368px;
    margin-top: 150px;
    margin-bottom: 20px; /* Adjust as needed */
    margin-left: 1px;
    display: inline-block; /* Add this line to make the boxes inline */
}


.team-member img {
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.team-member h4 {
    color: #ffa31a;
    margin-top: 10px;
}

.team-member p {
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.description {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    color: #000000;
    background-color: #ffa31a;
    text-align: center;
    margin-top: 180px; /* Push the footer to the bottom */
    padding: 1em;
    width: 100%;
}